/build/
/smoke.egg-info/
/dist/

/tools/logs/

.idea

# GitHub Python GitIgnore ----------------------------------------------------------------------------------------------
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# dataset
datasets/

# figures

# vscode
.vscode